#conteudo-principal {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.conteudo-produto {
    width: 200px;
    height: 300px;
    border: 1px solid black; 
    border-radius: 10px;
    margin-top: 5%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.botoes {
    display: flex;
    justify-content: space-around;
}

.btn {
    height: 20px;
    width: 70px;
    background-color: rgb(184, 184, 184);
    border: none;
    border-radius: 10px;
}